body {
  //box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.link-unstyled {
  color: $text-color;
  text-decoration: none;
}

.link-unstyled:hover {
  text-decoration: none;
}

#application-main-footer{
  margin-top: 20px;
  min-height: 50px;
  background-color: #000;
}
