

<h2>Creating a skill</h2>

<div class="container">
  {{partial "skill/editor"}}
</div>

<div class="well">
  <div class="row">
    <div class="col-xs-12">
      <p class="text-right">(Skill preview)</p>
    </div>
  </div>
  {{partial "skill/details"}}
</div>
